<html>
    <head>
        <title> Docker Single Container </title>
    
    <style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
	</head>
    <body>
    	<h1>Docker Demo</h1>

    	<h3>Container ID : {{ container.container_long_id }}</h3>
    	<hr>
    	{% if status == 1 %}
    	<form action="" method="post">
    	{% csrf_token %}
        {{ form }}
    		<input type="hidden" value= {{ container.container_long_id }} name="container_switch">
    		<input type="hidden" value= {{ status }} name="container_switch">
        	<input type="submit" value="stop" name="container_switch" >
    	</form>
    	{% endif %}
    	{% if status == 0 %}
    	<form action="" method="post">
    	{% csrf_token %}
        {{ form }}
        	<input type="hidden" value= {{ container.container_long_id }} name="container_switch">
    		<input type="hidden" value= {{ status }} name="container_switch">
        	<input type="submit" value="start" name="container_switch" >
    	</form>
    	{% endif %}
		<table>
		
		  <tr>
		    <td>Created: {{ container.container_create_time_date_gmtfix }}</td>
		  </tr>
		  <tr>
		    <td>Path: {{ container.container_path }}</td>
		  </tr>
		  <tr>
		    <td>Args: {{ container.container_args }}</td>
		  </tr>
		  <tr>
		    <td>Image: {{ container.image_long_id }}</td>
    	
    	</table>
    	<hr>
    	{% if status == 0 %}
    	<form action="" method="post">
    	{% csrf_token %}
        {{ form }}
        	<input type="hidden" value= {{ container.container_long_id }} name="container_remove">
    		<input type="hidden" value= {{ status }} name="container_remove">
        	<input type="submit" value="Remove Container " name="container_remove" >
    	</form>
    	{% endif %}

    </body>
</html>