<html>
    <head>
        <title> Docker Images </title>
    
    <style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
	</head>
    <body>
    	<h1>Docker Demo</h1>
    	<h3>Images</h3>
    	<hr>
		<table>
		  <tr>
		    <th>Repository</th>
		    <th>Tag</th>
		    <th>Image ID</th>
		    <th>Created</th>
		    <th>Size</th>
		    <th>Create a container</th>
		  </tr>
		{% for image in images %}
		  <tr>
		    <td>{{ image.repo_name }}</td>
		    <td>{{ image.image_tag }}</td>
		    <td>{{ image.image_short_id }}</td>
		    <td>{{ image.image_create_time_humanize }}</td>
		    <td>{{ image.image_size_humanize }}</td>
		    
		    <td>
			    <form action="" method="post">
	            {% csrf_token %}
	            {{ form }}	            
            	<input type="hidden" value= {{ image.repo_name }} name="con_creation">            
            	<input type="text" name="con_creation" value="Enter Container Name">
            	<input type="submit" value="start" name="con_creation" >
	        	</form>
		    </td>
		    
		  </tr>
    	{% endfor %}
    	</table>
    </body>
</html>

