<html>
    <head>
        <title> Docker Containers </title>
    
    <style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
	</head>
    <body>
    	<h1>Docker Demo</h1>
    	<h3>Containers</h3>
    	<hr>
		<table>
		  <tr>
		    <th>Container ID</th>
		    <th>Image</th>
		    <th>Command</th>
		    <th>Created</th>
		    <th>name</th>
		    <th>status</th>
		  </tr>
		{% for container in containers %}
		  <tr>
		    <td>{{ container.container_short_id }}</td>
		    <td>{{ container.image_name }}</td>
		    <td>{{ container.container_cmd }}</td>
		    <td>{{ container.container_create_time_humanize }}</td>
		    <td>{{ container.container_name }}</td>
		    <td>
		    	{% if container.container_status == "exited" %}
		    	<form action="" method="post">
		    	{% csrf_token %}
	            {{ form }}
		    		<input type="hidden" value= {{ container.container_long_id }} name="container_check">
	            	<input type="submit" value="ghost" name="container_check" >
		    	</form>
		    	{% endif %}
		    	{% if container.container_status == "running" %}
	            <form action="" method="post">
	            {% csrf_token %}
	            {{ form }}
		    		<input type="hidden" value= {{ container.container_long_id }} name="container_check">
	            	<input type="submit" value="up" name="container_check" >
		    	</form>
	            {% endif %}

		    </td>
		    <!--
		    <td>
			    <form action="" method="post">
	            {% csrf_token %}
	            {{ form }}
	            {% if con.status == "exited" %}
	            	<input type="hidden" value= {{ con.id }} name="con_id">
	            	<input type="submit" value="open container" name="test" >
	            {% endif %}
	            {% if con.status == "running" %}
	            	<input type="hidden" value= {{ con.id }} name="con_id" >
	            	<input type="submit" value="close container" name="test" >
	            {% endif %}
	        	</form>
		    </td>
		    -->
		  </tr>
    	{% endfor %}
    	</table>
    </body>
</html>  